<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/works">Works</a>
    </nav>

    <h1>Michel Gondry</h1>

    <img src="/images/michel_gondry.jpg" alt="Michel Gondry">

    <p>
        Michel Gondry (French: [miʃɛl ɡɔ̃dʁi]; born 8 May 1963) is a French filmmaker noted for his inventive visual style and distinctive manipulation of mise en scène.[1] Along with Charlie Kaufman, he won an Academy Award for Best Original Screenplay as one of the writers of the 2004 film Eternal Sunshine of the Spotless Mind, which he also directed.

His other films include the music documentary Dave Chappelle's Block Party (2005), the surrealistic science fantasy comedy The Science of Sleep (2006), the comedy Be Kind Rewind (2008), the superhero action comedy The Green Hornet (2011), the drama The We and the I (2012), and the romantic science fantasy tragedy Mood Indigo (2013). 
    </p>


</body>
</html>