<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>About</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/works">Works</a>
    </nav>

    <h1 class="main-title">Michel Gondry</h1>

    <img src="/images/michel_gondry.jpg" alt="Michel Gondry">

    <p>
        Michel Gondry  born 8 May 1963 is a French filmmaker noted for his inventive visual style and distinctive manipulation of mise en scène. Along with Charlie Kaufman, he won an Academy Award for Best Original Screenplay as one of the writers of the 2004 film <em>Eternal Sunshine of the Spotless Mind</em>, which he also directed.
        </p><p>

His other films include the music documentary Dave Chappelle's <em>Block Party</em> (2005), the surrealistic science fantasy comedy <em>The Science of Sleep</em> (2006), the comedy <em>Be Kind Rewind</em> (2008), the superhero action comedy <em>The Green Hornet</em> (2011), the drama The We and the I (2012), and the romantic science fantasy tragedy <em>Mood Indigo</em> (2013). 
    </p>


</body>
</html>