<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>
<h1 class="main-title">A Website Dedicated to Michel Gondry</h1>

<div class="home">
    <blockquote>My goal was to show that even if people work in a garage or a supermarket, [or write CSS all day long],
        they have very funny things to say. We never hear their voices.
    </blockquote>

    <img src="/images/michel_gondry_arty.jpg" alt="Gondry arty" width="60%">
</div>
</body>
</html>