<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
<h1>About: Michel Gondry</h1>
<hr>
<h2>(Some of his) Movies</h2>
<div>
    <ul>
        <li>Human Nature - 2001</li>
        <li>Eternal Sunshine of the Spotless Mind - 2004</li>
        <li>The Science of Sleep - 2006</li>
        <li>Be Kind Rewind - 2008</li>
        <li>The Green Hornet - 2011</li>
    </ul>
</div>
<h2>(Some of the) Music Videos</h2>

<p>"The Hardest Button to Button" – The White Stripes (2003)</p>
<iframe width="420" height="315"
src="https://www.youtube.com/embed/K4dx42YzQCE">
</iframe>

<section>
    Other known music videos: 
    <ul>
        <li>"Fell in Love with a Girl" – The White Stripes (2002)</li>
        <li>"Star Guitar" – The Chemical Brothers (2002)</li>
        <li>"Knives Out" – Radiohead (2001)</li>
        <li>"Around the World" – Daft Punk (1997)</li>
        <li>"Protection" – Massive Attack (1995)</li>
    </ul>
</section>

<h2>Advertisements</h2>
    <p> Air France – Le Passage</p>
    <iframe width="420" height="315"
    src="https://www.youtube.com/embed/xt35uKyrG0I">
    </iframe> 

    <section>
        Other known adverts: 
    
    <ul>
        <li>Motorola - Razr2 - 2007</li>
        <li>Smirnoff - Smarienberg - 1997</li>
        <li>Levi's - Drugstore - 2006</li>
        <li>HP - Michel Gondry Eternal Dreamer - 2007</li>
        <li>BMW - Pure Drive - 2008</li>
        <li>Heineken - Debut - 2008</li>
    </ul>
<p></p>
</body>
</html>